*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;

  @media (prefers-reduced-motion: reduce) {
    animation: none !important;
    transition: none !important;
  }
}

html {
  height: 100%;
  line-height: 1.45;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--color-body-text);
  background-color: var(--color-body-bg);
  transition-property: color, background;
  transition-duration: var(--transition-duration-fast);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;

  & a {
    color: inherit;
    text-decoration: none !important;
  }
}

h1 {
  font-size: var(--font-size-xxl);
  color: var(--color-secondary);
  margin-bottom: var(--space-l);
}

h2 {
  font-size: var(--font-size-xl);
  color: var(--color-secondary);
  margin-bottom: var(--space-l);
}

h3 {
  font-size: var(--font-size-l);
  color: var(--color-secondary);
}

h4, h5, h6 {
  font-size: var(--font-size-m);
}

section {
  margin-bottom: var(--space-xxl);
}

a {
  outline: 0;
  color: var(--color-accent);
  text-decoration: none;
  transition-property: color, background;
  transition-duration: var(--transition-duration-fast);

  &.plain {
    color: inherit;
  }

  &:hover {
    @media not all and (hover: none) {
      color: var(--color-accent-highlight);
      text-decoration: none;

      &.plain {
        color: var(--color-accent);
      }
    }
  }

  & svg {
    transition-property: color;
    transition-duration: var(--transition-duration-fast);
  }
}

code {
  font-size: .9em;
}

p {
  margin-bottom: var(--space-l);
}

ul {
  margin-left: 1rem;
  margin-bottom: var(--space-l);
}

ol {
  margin-left: 1.5rem;
  margin-bottom: var(--space-l);
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

li + li {
  margin: var(--space-xs) 0;
}

table {
  border-collapse: collapse;

  & th,
  & td {
    border-bottom: 1px solid var(--color-border-medium);
    padding: var(--space-s) var(--space-m);
    text-align: left;
  }

  & td {
    border-bottom-color:var(--color-border-light);
  }
}

h1,
p,
ul,
ol,
table {
  & + h2 {
    margin-top: var(--space-xl);
  }

  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-m);
  }
}

pre,
button {
  font-family: inherit;
  font-size: inherit;
}

img:-moz-loading {
  visibility: hidden;
}

::-webkit-progress-value {
  background-color: var(--color-accent);
}

::-ms-fill {
  background-color: var(--color-accent);
}

::-moz-progress-bar {
  background-color: var(--color-accent);
}

[aria-hidden="true"] {
  display: none;
}

.button {
  display: inline-block;
  text-align: center;
  padding: var(--space-m) var(--space-l);
  font-weight: var(--font-weight-bold);
  line-height: inherit;
  cursor: pointer;
  color: #2a1801;
  background-color: var(--color-accent);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  transition-property: color, background;
  transition-duration: var(--transition-duration-fast);

  &:hover {
    @media not all and (hover: none) {
      color: #2a1801;
      background-color: var(--color-accent-highlight);
      text-decoration: none;
    }
  }
}

.podlove-subscribe-button-iframe {
  margin-top: var(--space-m);
  border-radius: var(--border-radius);
}

#podlove-subscribe-popup {
  background-color: var(--color-overlay-bg) !important;

  & #podlove-subscribe-popup-modal {
    & * {
      font-family: var(--font-family-base) !important;
      font-weight: var(--font-weight-regular) !important;
    }

    & .top-bar,
    & .podlove-logo,
    & .device-cloud-switch,
    & #podlove-subscribe-panel-podcast,
    & #podlove-subscribe-panel-clients,
    & #podlove-subscribe-panel-finish {
      color: var(--color-body-text) !important;
      background-color: var(--color-card-bg) !important;
      transition-property: color, background-color;
      transition-duration: var(--transition-duration-fast);

      & li,
      & .device-cloud-switch {
        border-color: var(--color-body-bg) !important;
      }
    }
  }
}

.ytEmbed {
  display: block;
  position: relative;
  margin: var(--space-l) 0 var(--space-xl);
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: var(--color-card-bg);
}

.ytEmbed:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ +CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
  background-size: auto;
  background-size: 64px 64px;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transition: all var(--transition-duration-fast) ease-out;
  content: '';
  cursor: pointer;
}

.ytEmbed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.ytEmbed iframe[src] {
  display: block;
}
