*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;

  @media (prefers-reduced-motion: reduce) {
    animation: none !important;
    transition: none !important;
  }
}

html {
  height: 100%;
  line-height: 1.45;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--color-body-text);
  background-color: var(--color-body-bg);
  transition-property: color, background;
  transition-duration: var(--transition-duration-fast);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;

  & a {
    color: inherit;
    text-decoration: none !important;
  }
}

h1 {
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-regular);
}

h2 {
  font-size: var(--font-size-xl);
  color: var(--color-secondary);
}

h3 {
  font-size: var(--font-size-l);
}

h4, h5, h6 {
  font-size: var(--font-size-m);
}

a {
  outline: 0;
  color: var(--color-accent);
  text-decoration: none;
  transition-property: color, background;
  transition-duration: var(--transition-duration-fast);

  &.plain {
    color: inherit;
  }

  &:hover {
    @media not all and (hover: none) {
      color: var(--color-accent-highlight);
      text-decoration: none;

      &.plain {
        color: var(--color-accent);
      }
    }
  }

  & svg {
    transition-property: color;
    transition-duration: var(--transition-duration-fast);
  }
}

p {
  margin-bottom: var(--space-l);
}

ul {
  margin-left: 1rem;
  margin-bottom: var(--space-l);
}

p,
ul {
  & + h2 {
    margin-top: var(--space-xl);
  }

  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-m);
  }
}

pre,
button {
  font-family: inherit;
  font-size: inherit;
}

img:-moz-loading {
  visibility: hidden;
}

::-webkit-progress-value {
  background-color: var(--color-accent);
}

::-ms-fill {
  background-color: var(--color-accent);
}

::-moz-progress-bar {
  background-color: var(--color-accent);
}

[aria-hidden="true"] {
  display: none;
}

.button {
  display: inline-block;
  text-align: center;
  padding: var(--space-m) var(--space-l);
  font-weight: var(--font-weight-bold);
  color: #2a1801;
  background-color: var(--color-accent);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--space-m);
  transition-property: color, background;
  transition-duration: var(--transition-duration-fast);

  &:hover {
    @media not all and (hover: none) {
      color: #2a1801;
      background-color: var(--color-accent-highlight);
      text-decoration: none;
    }
  }
}

.podlove-subscribe-button-iframe {
  margin-top: var(--space-m);
  border-radius: var(--space-m);
}

#podlove-subscribe-popup {
  background-color: var(--color-overlay-bg) !important;

  & #podlove-subscribe-popup-modal {
    & * {
      font-family: var(--font-family-base) !important;
      font-weight: var(--font-weight-regular) !important;
    }

    & .top-bar,
    & .podlove-logo,
    & .device-cloud-switch,
    & #podlove-subscribe-panel-podcast,
    & #podlove-subscribe-panel-clients,
    & #podlove-subscribe-panel-finish {
      color: var(--color-body-text) !important;
      background-color: var(--color-card-bg) !important;
      transition-property: color, background-color;
      transition-duration: var(--transition-duration-fast);

      & li,
      & .device-cloud-switch {
        border-color: var(--color-body-bg) !important;
      }
    }
  }
}
