/* https://google-webfonts-helper.herokuapp.com/fonts/inconsolata?subsets=latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url('../fonts/inconsolata-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url('../fonts/inconsolata-700.woff2') format('woff2');
}

@font-face {
  font-family: 'TheBoldFont';
  font-style: normal;
  src: url('../fonts/theboldfont.woff2') format('woff2');
}
