.notice {
  position: relative;
  background: var(--color-card-bg);
  transition-property: background-color;
  transition-duration: var(--transition-duration-fast);
  padding: var(--space-m) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  @media (--up_to_L) {
    margin-top: calc(var(--logo-height) + var(--space-xxl) * 1.65);;
    margin-bottom: calc((var(--logo-height) + var(--space-xxl) * 1.65) * -.75);
  }
}

.header {
  background-color: var(--color-body-bg);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration-fast);

  @media (--up_to_M) {
    padding-top: var(--space-l);
    padding-bottom: var(--space-m);
  }
  @media (--M_to_L) {
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
  }
  @media (--L_and_up) {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-l);
  }

  @media (--up_to_L) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    body.topbar & {
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.125);
    }
  }

  & a {
    color: var(--color-body-text);

    &[href="#"] {
      cursor: context-menu;
    }

    &:not([href="#"]):hover {
      @media not all and (hover: none) {
        color: var(--color-accent);
        text-decoration: none;
      }
    }
  }

  & .wrap {
    flex-direction: column;
    align-items: center;
  }

  & .brand {
    display: block;
    margin-bottom: var(--space-m);
  }

  & .logo {
    display: block;
    width: 100%;
    height: var(--logo-height);
    max-width: 840px;
    max-height: 76px;
  }

  & .nav {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--space-l);
    line-height: 1;

    @media (--up_to_L) {
      font-size: 5vw;
    }
    @media (--L_and_up) {
      font-size: var(--font-size-xxl);
    }

    & nav {
      display: flex;
      align-items: center;

      & .navItem {
        position: relative;
        margin-right: var(--space-xl);
        overflow: hidden;
        text-transform: uppercase;
        min-width: 3.5em;
        z-index: 1;

        & a {
          position: relative;
          display: block;
          font-weight: var(--font-weight-bold);
          z-index: 1;

          &.current {
            color: var(--color-accent);
          }
        }

        & .more {
          position: absolute;
          z-index: 0;
          top: calc(var(--space-m) * -1);
          left: calc(var(--space-l) * -1);
          right: calc(var(--space-l) * -1);
          opacity: 0;
          padding: 1.25em var(--space-l) var(--space-m);
          background: var(--color-flyout-bg);
          transition-property: background, position, opacity;
          transition-duration: var(--transition-duration-fast);
          border-radius: var(--border-radius);

          @media (--up_to_M) {
            padding-top: 1.4em;
          }

          & a {
            margin-top: var(--space-l);
          }
        }

        &:hover,
        &:focus {
          overflow: visible;

          & .more {
            opacity: 1;
          }
        }
      }
    }

    & button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 1px;

      & svg {
        height: 4.5vw;
        width: 4.5vw;
        min-height: 18px;
        min-width: 18px;
        max-height: 42px;
        max-width: 42px;
        display: block;
      }
    }
  }
}

.theme {
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: inherit;
  background: none;
  cursor: pointer;
  border: 0;
  outline: 0;

  &:hover {
    @media not all and (hover: none) {
      color: var(--color-accent);
    }
  }
}
