.wrap {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wrap-padding-horizontal);
  padding-right: var(--wrap-padding-horizontal);
  max-width: calc(840px + var(--wrap-padding-horizontal) * 2);
}

.main {
  flex: 1;
  padding-bottom: var(--space-xxl);

  @media (--up_to_M) {
    padding-top: calc(var(--logo-height) + var(--space-xxl) * 1.525);
  }
  @media (--M_to_L) {
    padding-top: calc(var(--logo-height) + var(--space-xxl) * 1.825);
  }
  @media (--L_and_up) {
    padding-top: var(--space-l);
  }

  & h1 {
    display: none;
  }

  & h2 {
    margin-bottom: var(--space-l);
  }

  & section {
    margin-bottom: var(--space-xxl);
  }
}
