@custom-media --up_to_M screen and (max-width: 599px);
@custom-media --up_to_L screen and (max-width: 839px);
@custom-media --M_to_L screen and (min-width: 600px) and (max-width: 839px);
@custom-media --M_and_up screen and (min-width: 600px);
@custom-media --L_and_up screen and (min-width: 840px);

:root {
  --color-neutral-0: #fff;
  --color-neutral-10: #f9f9f9;
  --color-neutral-50: #888;
  --color-neutral-90: #222;
  --color-neutral-95: #1B1B1B;

  --color-body-text: var(--color-neutral-90);
  --color-body-bg: var(--color-neutral-0);
  --color-card-bg: var(--color-neutral-10);
  --color-accent: #f7931a;
  --color-accent-highlight: #dd7901;
  --color-derweg: #00B4CF;
  --color-interview: #151515;
  --color-secondary: var(--color-neutral-50);

  --space-xs: .125rem;
  --space-s: .25rem;
  --space-m: .5rem;
  --space-l: 1rem;
  --space-xl: 1.75rem;
  --space-xxl: 3rem;

  --transition-duration-fast: 0.25s;
  --transition-duration-medium: 0.75s;
  --transition-duration-slow: 1.5s;

  --font-family-base: 'Inconsolata', monospace;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-size-base: 18px;
  --font-size-xs: .7rem;
  --font-size-s: .85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.75rem;
  --font-size-xxl: 2.5rem;
  --font-size-xxxl: 4rem;

  @media (--up_to_M) {
    --wrap-padding-horizontal: var(--space-l);
  }
  @media (--M_to_L) {
    --wrap-padding-horizontal: var(--space-xl);
  }
  @media (--L_and_up) {
    --wrap-padding-horizontal: var(--space-xxl);
  }

  --logo-height: calc((100vw - var(--wrap-padding-horizontal) * 2) / 134 * 12);
}

:root[data-theme="dark"] {
  --color-body-text: var(--color-neutral-0);
  --color-body-bg: var(--color-neutral-90);
  --color-card-bg: var(--color-neutral-95);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --color-body-text: var(--color-neutral-0);
    --color-body-bg: var(--color-neutral-90);
    --color-card-bg: var(--color-neutral-95);
  }
}
