@custom-media --up_to_S screen and (max-width: 360px);
@custom-media --up_to_M screen and (max-width: 599px);
@custom-media --up_to_L screen and (max-width: 839px);
@custom-media --S_to_M screen and (min-width: 360px) and (max-width: 599px);
@custom-media --M_to_L screen and (min-width: 600px) and (max-width: 839px);
@custom-media --M_and_up screen and (min-width: 600px);
@custom-media --L_and_up screen and (min-width: 840px);

:root {
  --color-neutral-0: #fff;
  --color-neutral-10: #f2f2f2;
  --color-neutral-25: #d2d2d2;
  --color-neutral-50: #888;
  --color-neutral-75: #555;
  --color-neutral-80: #333;
  --color-neutral-90: #222;
  --color-neutral-95: #1B1B1B;

  --color-border-light: var(--color-neutral-10);
  --color-border-medium: var(--color-neutral-25);

  --color-map-region: var(--color-border-light);
  --color-map-outline: var(--color-neutral-50);

  --color-overlay-bg: rgba(230, 230, 230, .95);
  --color-body-text: var(--color-neutral-90);
  --color-body-bg: var(--color-neutral-0);
  --color-card-bg: var(--color-neutral-10);
  --color-flyout-bg: var(--color-overlay-bg);
  --color-accent: #f7931a;
  --color-accent-highlight: #dd7901;
  --color-derweg: #00B4CF;
  --color-special: #151515;
  --color-secondary: var(--color-neutral-50);

  --space-xs: .125rem;
  --space-s: .25rem;
  --space-m: .5rem;
  --space-l: 1rem;
  --space-xl: 1.75rem;
  --space-xxl: 3rem;

  --transition-duration-fast: 0.25s;
  --transition-duration-medium: 0.75s;
  --transition-duration-slow: 1.5s;

  --font-family-base: 'Inconsolata', monospace;
  --font-family-bold: 'TheBoldFont', monospace;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-xs: .75rem;
  --font-size-s: .85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.75rem;
  --font-size-xxl: 2.25rem;
  --font-size-xxxl: 4rem;

  @media (--up_to_M) {
    --font-size-base: 16px;
    --font-size-xxxl: 2.25rem;
    --wrap-padding-horizontal: var(--space-l);
  }
  @media (--M_to_L) {
    --font-size-base: 18px;
    --font-size-xxxl: 3.5rem;
    --wrap-padding-horizontal: var(--space-xl);
  }
  @media (--L_and_up) {
    --font-size-base: 20px;
    --wrap-padding-horizontal: var(--space-xxl);
  }

  --logo-height: calc((100vw - var(--wrap-padding-horizontal) * 2) / 134 * 12);
  --border-radius: var(--space-m);
}

@define-mixin dark-theme {
  --color-body-text: var(--color-neutral-0);
  --color-body-bg: var(--color-neutral-90);
  --color-card-bg: var(--color-neutral-95);
  --color-overlay-bg: rgba(20, 20, 20, .95);
  --color-border-light: var(--color-neutral-80);
  --color-border-medium: var(--color-neutral-75);
}

:root[data-theme="dark"] {
  @mixin dark-theme;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]):not([data-theme="custom"]) {
    @mixin dark-theme;
  }
}
