include mixins

block vars

- const pageTitle = title && title !== site.meta.title ? `${title} · ${site.meta.title}` : site.meta.title
- const pageDescription = description || site.meta.description
- const pageKeywords = keywords || site.meta.keywords
- const pageCard = cardImage || site.meta.cardImage
- const themeColor = site.meta.themeColor

<!DOCTYPE html>
html(lang="de")
  head
    include _head
  body
    header.header#header
      .wrap
        a(href="/").brand
          +sprite("logo-horizontal").logo
        .nav
          nav
            .navItem
              a(href="/podcast/" class=(navCurrent === 'podcast' && 'current')) Podcast
            .navItem
              a(href="#" onclick="return false;") Community
              .more
                a(href="/meetups/" class=(navCurrent === 'meetups' && 'current')) Meetups
                a(href="https://portal.einundzwanzig.space/de/event/overview?l=de" rel="nofollow noopener") Events
                a(href="https://portal.einundzwanzig.space/de/school/city?l=de" rel="nofollow noopener") Kurse
                a(href="/spenden/" class=(navCurrent === 'spenden' && 'current')) Spenden
                a(href="/telegram/" class=(navCurrent === 'telegram' && 'current')) Telegram
                a(href="/shops/" class=(navCurrent === 'shops' && 'current')) Shops
                a(href=site.meta.youtubeUrl target="_blank" rel="nofollow noopener") YouTube
                a(href=site.meta.shoutoutUrl target="_blank" rel="nofollow noopener") Shout-Out
            .navItem
              a(href="#" onclick="return false;") Mehr
              .more
                a(href="/media/" class=(navCurrent === 'media' && 'current')) Media
                a(href="/soundboard/" class=(navCurrent === 'soundboard' && 'current')) Sounds
                a(href="/verein/" class=(navCurrent === 'verein' && 'current')) Verein
                a(href="/kontakt/" class=(navCurrent === 'kontakt' && 'current')) Kontakt
          button(type="button").theme
            +sprite("theme")

    #header-anchor

    main.main
      block main

    include _footer
