@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.ticker {
  position: relative;
  overflow: hidden;
  background: var(--color-card-bg);
  transition-property: background-color;
  transition-duration: var(--transition-duration-fast);
  margin: -15px 0 var(--space-xl);
  padding: var(--space-m) 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: var(--font-size-xs);

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    content: '₿reaking:';
    padding: var(--space-m);
    text-transform: uppercase;
    color: var(--color-neutral-0);
    background: var(--color-accent);
    font-weight: var(--font-weight-bold);
  }

  & span {
    white-space: nowrap;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.shopTeaser {
  display: grid;
  grid-gap: var(--space-l);
  margin-bottom: var(--space-l);

  @media (--up_to_M) {
    grid-template-columns: 1fr 1fr;
  }
  @media (--M_and_up) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  & img {
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
  }
}

.lnNodes {
  display: flex;
  flex-wrap: wrap;

  @media (--up_to_M) {
    flex-direction: column;
  }

  & .lnNode {
    @media (--up_to_M) {
      margin-top: var(--space-xl);
    }
    @media (--M_and_up) {
      margin-top: var(--space-l);
      margin-right: var(--space-xxl);
    }
  }

  & img {
    display: block;
    width: 240px;
    height: 240px;
    border-radius: var(--border-radius);
    margin: var(--space-l) 0;
  }

  & button {
    display: block;
    width: 240px;
  }
}
