@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.ticker {
  overflow: hidden;
  background: var(--color-card-bg);
  transition-property: background-color;
  transition-duration: var(--transition-duration-fast);
  margin: -15px 0 var(--space-xl);
  padding: var(--space-m) 0;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: var(--font-size-s);

  & pre {
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
