#podcast {
  & .categories {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin: var(--space-l) 0 var(--space-xl);
    font-size: var(--font-size-s);

    & li {
      margin: 0 var(--space-m) var(--space-m) 0;
    }

    & a {
      --category-accent-fg : var(--color-neutral-0);
      --category-accent-bg : var(--color-accent);

      &.interviews,
      &.on-tour,
      &.verschiedenes {
        --category-accent-bg : var(--color-special);
      }
      &.der-weg {
        --category-accent-bg : var(--color-derweg);
      }

      display: inline-block;
      text-align: center;
      padding: var(--space-s) var(--space-l);
      color: var(--color-body-text);
      text-decoration: none;
      border-radius: var(--space-xl);
      border: 1px solid var(--color-secondary);

      &:hover {
        @media not all and (hover: none) {
          color: var(--category-accent-fg);
          border-color: var(--category-accent-bg);
          background-color: var(--category-accent-bg);
          text-decoration: none;
        }
      }

      &.current {
        color: var(--category-accent-fg);
        border-color: var(--category-accent-bg);
        background-color: var(--category-accent-bg);
        text-decoration: none;
        font-weight: var(--font-weight-bold);
      }
    }
  }

  & .latest {
    margin-bottom: var(--space-xxl);
  }
}

#episode {
  & .player {
    margin-bottom: var(--space-xxl);
  }

  & .partcipants {
    margin: 0;
    list-style: none;
  }

  & .partcipants li + li {
    margin-top: var(--space-m);
  }

  & .partcipants li,
  & .partcipants li a {
    display: flex;
    align-items: center;
  }

  & .partcipants li span {
    margin-left: var(--space-m);
  }
}

.avatar {
  display: block;
  height: var(--avatar-size, 2rem);
  width: var(--avatar-size, 2rem);
  border-radius: 50%;
}

.episodes {
  display: grid;
  grid-gap: var(--space-xl);
  grid-template-columns: 1fr;

  @media (--up_to_L) {
    grid-template-columns: 1fr;
  }
  @media (--L_and_up) {
    grid-template-columns: 1fr 1fr;
  }
}

.episodeItem {
  --avatar-size: 1rem;
  margin: 0;
  border-radius: var(--space-l);
  background-color: var(--color-card-bg);
  transition-property: background-color;
  transition-duration: var(--transition-duration-fast);

  & a.plain {
    display: flex;

    &:hover .meta {
      @media not all and (hover: none) {
        color: inherit;
      }
    }
  }

  & .title {
    word-break: break-word;
  }

  & .media {
    & a,
    & img {
      display: block;
      border-radius: var(--space-s);

      @media (--up_to_M) {
        width: 20vw;
      }
      @media (--M_and_up) {
        width: 15vw;
        max-width: 7rem;
      }
    }
  }

  & .meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--color-secondary);
  }

  & .content {
    flex: 1;
    padding: var(--space-m) var(--space-l);

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  & .participants {
    margin-top: var(--space-m);
  }
}

.player .participants,
.episodeItem .participants {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-m);
  list-style: none;
}

.player {
  --player-button-size: 3rem;
  --player-button-margin: var(--space-l);

  display: flex;
  border-radius: var(--border-radius);
  background-color: var(--color-card-bg);
  overflow: hidden;

  @media (--up_to_M) {
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
  }

  & .participants {
    margin: var(--space-m) var(--space-l) var(--space-m) calc(var(--player-button-size) + var(--player-button-margin) + var(--space-l));
  }
}

.player__coverlink {
  @media (--up_to_M) {
    width: 100%;
  }
  @media (--M_and_up) {
    width: 33.3%;
  }
}

.player__cover {
  display: block;
  width: 100%;
}

.player__bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--color-body-text);
  transition-property: color, background-color;
  transition-duration: var(--transition-duration-fast);
}

.player__progress {
  display: block;
  background-color: var(--color-secondary);
  appearance:none;
  width: 100%;
  height: var(--space-m);
  cursor:pointer;
  border:none
}

.player__time,
.player__links {
  display: flex;
  justify-content: space-between;
  padding: var(--space-m) var(--space-l);
  color: var(--color-secondary);
  font-size: var(--font-size-s);
}

.player__speed:before {
  cursor: pointer;
}
.player__speed.amplitude-playback-speed-10:before {
  content: '1.0x';
}
.player__speed.amplitude-playback-speed-15:before {
  content: '1.5x';
}
.player__speed.amplitude-playback-speed-20:before {
  content: '2.0x';
}

.player__controls {
  display: flex;
  align-items: center;
  padding: var(--space-m) var(--space-l);
}

.player__button {
  width: var(--player-button-size);
  height: var(--player-button-size);
  margin-right: var(--player-button-margin);
  cursor: pointer;
}

.player__button svg {
  width: 100%;
  height: 100%;
}

.player__button__icon--play,
.player__button__icon--pause {
  display: none;
  color: var(--color-secondary);

  &:hover {
    @media not all and (hover: none) {
      color: var(--color-accent);
    }
  }
}

.player__button.amplitude-paused .player__button__icon--play,
.player__button.amplitude-playing .player__button__icon--pause {
  display: block;
}

.player__info {
  flex: 1;
  text-align: left;

  & a:hover .player__album {
    @media not all and (hover: none) {
      color: inherit;
    }
  }
}

.player__album {
  color: var(--color-secondary);
}

.player__links {
  margin-top: auto;
  justify-content: flex-end;
}

.player__download {
  display: inline-flex;
  align-items: center;
  color: var(--color-secondary);
  font-size: var(--font-size-s);
}

.player__download svg {
  width: .75rem;
  height: .75rem;
  margin-right: var(--space-s);
}
