extends /template.pug

block vars
  - const title = 'Bitcoin im Ländle'
  - const description = 'Freitag, 27.05.2022 bis Sonntag, 29.05.2022 — Hotel Princess Plochingen'
  - const cardImage = 'https://einundzwanzig-stuttg.art/wp-content/uploads/2022/03/FMxz9gRWQAIHht0-1024x715.jpg'

block main
  #events.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        ## Datum und Location

        **Freitag, 27.05.2022 bis Sonntag, 29.05.2022**

        [Hotel Princess Plochingen](https://hotel-princess.de/)

        Widdumstraße 3 (direkt am Banhof)

        73207 Plochingen

        Organisiert durch [Einundzwanzig Stuttgart](https://einundzwanzig-stuttg.art/)

        ## Philosophie

        In 2021 entstanden im kompletten DACH-Raum zahlreiche Bitcoin-Meet-Up-Gruppen aus der Community des Einundzwanzig-Podcast heraus. Die Stuttgarter-Gruppe möchte den Austausch in der DACH-Bitcoin-Community weiter fördern und läd daher alle Bitcoiner zu “Bitcoin im Ländle” am letzten Mai Wochenende 2022 ein.

        Unter dem Motto “Schaffa schaffa satoshis schdapla” erwarten die Teilnehmer im Hotel Princess (in Plochingen bei Stuttgart) Vorträge, Diskussionsrunden und Workshops rund um Bitcoin. Tauche mit uns ein ganzes Wochenende lang ein in's Bitcoin-Rabbithole und verliere dich mit anderen Bitcoinern in den diversen Gängen des Kaninchenbaus.

        Die Teilnehmer dürfen sich auf bekannte Gesichter/Stimmen aus der Szene freuen mit welchen man sich ein komplettes Wochenende über Bitcoin, die Österreichische Schule, das Lightning-Netzwerk, Memes uvm. austauschen kann.

        Wir sehen uns bei Bitcoin im Ländle!

        ![Logo von Bitcoin im Ländle](/img/events/bitcoin-im-laendle-2022.jpg)

        ## Vision

        Ziel der Veranstaltung ist es die Bitcoin Adoption voranzubringen, sich mit gleichgesinnten Menschen auszutauschen und jede Menge Spaß zu haben.
        Es erwarten Dich verschiedene Vorträge, Workshops, spannende Diskussionen, ein Platz zum Wohlfühlen, eine Bitcoin Kunst-Ausstellung und natürlich leckeres Essen & Trinken. 3 Tage lang verbringen wir Zeit zusammen in der Bitcoin Bubble und gehen gemeinsam die nächsten Schritte zur Hyperbitcoinisierung

        ## Teilnahme

        Alle weiteren Informationen zu den Tickets findet Ihr auf https://einundzwanzig-stuttg.art/

        ## Kontakt

        Solltet ihr Interesse an der Teilnahme zu **Bitcoin im Ländle** im Hotel Princess Plochingen haben, dann folgt gerne dem Twitteraccount & Telegramgruppe von Bitcoin im Ländle, wir werden dort alle Informationen und das weitere Vorgehen veröffentlichen:

        - [Twitteraccount Bitcoin im Ländle](https://twitter.com/EinundzwanzigS)
        - [Telegram Bitcoin im Ländle](https://t.me/+if7YZSWd40Q2ZjUy)
