extends /template.pug

block vars
  - const title = 'Satoshis Bleibe 2022'
  - const description = 'Freitag, 18.02.2022 bis Sonntag, 20.02.2022 — Alte Kirche Bernkastel-Wehlen'
  - const cardImage = '/img/events/satoshis-bleibe-2022.png'

block main
  #events.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        ## Datum und Location

        **Freitag, 18.02.2022 bis Sonntag, 20.02.2022**

        Alte Kirche Bernkastel-Wehlen
        Brückenstraße 15
        54470 Bernkastel-Wehlen

        [https://www.bleibe.de/kirche.html](https://www.bleibe.de/kirche.html)

        ## Philosophie

        Bitcoin verbindet. Aus diesem Grund haben wir uns entschlossen, dieses besondere Meetup zu veranstalten und diesen Namen gewählt. In Satoshis Bleibe ist jeder willkommen, sei es kompletter Bitcoin-Neuling oder jahrzehntelanger Bitcoin-Bulle. Satoshis Bleibe ist das, was wir draus machen.

        Bitcoin ist für jeden und grenzt niemanden aus. Genauso ist Bitcoin für jeden etwas anderes. Deshalb kommen wir als offene Gemeinschaft zusammen, um unsere Ideen und Ansichten miteinander zu teilen.

        Satoshi Nakamoto legte mit dem Bitcoin-Protokoll den Grundstein für eine Bewegung, welche uns über jeglichen Grenzen und Unterschiede vereint. Gemeinsam können wir etwas verändern, gemeinsam sind wir stark.

        ![Logo von Satoshis Bleibe 2022](/img/events/satoshis-bleibe-2022.png)

        Das Wochenende in Bernkastel-Wehlen soll ein familiärer Ort des Austausches, des Lernens und des Knüpfens von neuen Bekanntschaften sein. Ein lockeres Programm über das Wochenende sorgt für die nötige Unterhaltung und beinhaltet einige spannende Tagespunkte, die die Veranstaltung in der Form einzigartig machen.

        ## Teilnahme

        Da die Kapazitäten in der Kirche und im anliegenden Feuerwehrhaus auf maximal **32** Personen begrenzt sind, können wir nur sehr wenige Tickets anbieten.

        Folgende Leistungen sind in der Teilnahmegebühr enthalten:

        | Standardticket | Kinderticket |
        |--------------------|------------------|
        | Zugang zur Bleibe am kompletten Wochenende | Nur in Kombination mit einem Standardticket / Tagesticket buchbar |
        | Unterkunft in der Bleibe (Kirche / Feuerwehrhaus) - Achtung: keine Einzelzimmer, sondern mit anderen Bitcoinern geteilte Zimmer | Unterkunft in der Bleibe (Kirche / Feuerwehrhaus) |
        | T-Shirt / Hoodie passend zum Event - Farbe wählbar | T-Shirt / Hoodie passend zum Event - Farbe wählbar |
        | Essen und Trinken alles inklusive | Essen und Trinken alles inklusive || **Preis inkl. Shirt: 275 €**
        | **Preis inkl. Hoodie: 290 €** | **Preis inkl. Shirt: 150 €**
        | **Preis inkl. Hoodie: 165 €** |

        ## Zahlung

        Die Veranstaltung und die Teilnahmegebühr sind so ausgelegt, dass die entstehenden Kosten abgedeckt werden und jeglicher Überschuss wird anschließend im Namen aller Teilnehmer an den Verein von **Einundzwanzig** gespendet. Alternativ kann auf der Bleibe 2022 auch darüber gestimmt werden, ob eine andere Organisation / Projekt unterstützt werden soll.

        Die Zahlung des Teilnahmebeitrags erfolgt wahlweise per **Bitcoin** / **Lightning**.

        ## Programm

        Das untenstehende Programm ist bewusst sehr **offen** und **locker** geplant, sodass die Teilnehmer gerne selber weitere Aktivitäten, Vorträge oder Diskussionen vorschlagen können. In dem Hauptraum der Kirche haben wir die Möglichkeit über einen großen Fernseher ggf. Präsentationen, live Video-Talks oder ähnliches zu zeigen. Wenn ihr eigene Programmpunkte einbringen wollt, sprecht uns gerne an.

        ### Freitag

        | Zeit | Thema |
        |------|-------|
        | ab 15 Uhr | Anreise und Check-In |
        | ca. 18:00 | Kick-off |
        | ca. 19:00 | Gemeinsames Abendessen |
        | ca. 20:30 | Abendprogramm |

        ### Samstag

        | Zeit | Thema |
        |------|-------|
        | ca. 8:30 | Frühstück |
        | ca. 10:00 | Workshops I |
        | ca. 12:30 | Mittagessen |
        | ca. 14:00 | kleiner Spaziergang an der Mosel |
        | ca. 15:30 | Workshops II |
        | ca. 18:30 | Gemeinsames Abendessen |
        | ca. 20:30 | Abendprogramm |

        ### Sonntag

        | Zeit | Thema |
        |------|-------|
        | ca. 8:30 | Frühstück |
        | ca. 11:00 | gemeinsame kleine Wanderung - Kräutertour mit und von Nick! |
        |  | Abreise nach Belieben, Kirche ist bis 22 Uhr für uns verfügbar |

        ## Kontakt

        Solltet ihr Interesse an der Teilnahme zur Satoshis Bleibe 2022 in Bernkastel-Wehlen haben, dann folgt gerne dem Twitteraccount der Bleibe und wir werden dort alle Informationen und das weitere Vorgehen veröffentlichen. Der Ticketverkauf an sich wird erst später starten und auch dies werden wir auf dem Kanal veröffentlichen.

        [Twitteraccount Satoshis Bleibe](https://twitter.com/satoshisbleibe)
