extends /template.pug

block vars
  - const title = 'Satoshis Beach 2022'
  - const description = 'Samstag, 18.06.2022 — Seaside Beach Baldeney'
  - const cardImage = '/img/events/satoshis-bleibe-2022.png'

block main
  #events.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        ## Datum und Location

        ** Samstag, 18.06.2022 **

        Seaside Beach Baldeney
        
        Freiherr-vom-Stein-Straße 384
        
        45133 Essen

        [https://seaside-beach.de/](https://seaside-beach.de/)

        ## Das Einundzwanzig NRW Meetup

        Nach dem erfolgreichen Start vieler lokaler Einundzwanzig Meetups in Nordrhein-Westfalen, wollen wir diesen Sommer erstmalig zu einem größeren Meetup zusammenkommen.

        ![Logo von Satoshis BEACH 2022](/img/events/satoshis-beach-2022.png)

        ## Tickets

        ** 45,- EUR pro Person - Lightning⚡️only! **

        Das Ticket beinhaltet den Eintritt zum Gelände des Seaside Beach sowie Catering mit reichhaltigem Grill-, Salat- und Getränkeangebot.

        Das Gelände zum Seaside Beach Baldeneysee kann bereits ab 10:00 Uhr betreten werden. Das Grillen am überdachten Grillplatz findet von 15:00-17:00 Uhr statt. Die Getränke stehen parallel von 15:00-22:00 Uhr zur Verfügung.

        Vor 15:00 Uhr gilt Selbstverpflegung. Dazu findet ihr auf dem gesamten Gelände verschiedene Angebote an Snacks und Getränken. ** Das Mitbringen eigener Speisen und Getränke ist nicht gestattet. **

        Wer den Tag ein wenig aktiver gestalten möchte, kann sich gerne nochmal die angebotenen Aktivitäten anschauen. Bikini 👙 und Badehose 🩳 sollten auf jeden Fall nicht fehlen.

        ## Ticketverkauf

        Die Tickets könnt ihr bei den Organisatoren erwerben, die ihr über Telegram kontaktieren könnt. 

        (gmblr247)[https://t.me/gmblr247]
        (Altbierjupp)[https://t.me/Altbierjupp]
        (actionslave)[https://t.me/actionslave]
        (systemling32)[https://t.me/systemling32]
        (selfkant_blitz)[https://t.me/selfkant_blitz]
        (Sambal_Oelek)[https://t.me/Sambal_Oelek]

        Tickets nur solange der Vorrat reicht! Nach erfolgreicher Zahlung erhaltet ihr Zugang zur Satoshis' Beach Telegram-Gruppe

        Wir freuen uns auf ganz viel Sonne ☀️, viele Plebs und einen regen Austausch mit euch 🤙
