extends /template.pug

block vars
  - const title = 'Sommerfest  in der "Zitadelle Uckermark"'
  - const description = '23.-25.6.2023'

block main
  #events.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        ## Datum und Location werden noch bekannt gegeben

        Sommerfest in der "Zitadelle Uckermark"

        Diesen Sommer möchten wir gemeinsam mit euch die "Zitadelle Uckermark" einweihen. Aktuell befinden sich die Orgaplebs noch in der Sondierungsphase aber wir wollen euch zumindest den groben Rahmen präsentieren, damit ihr wisst wofür ihr eure anderen Termine verschiebt.

        Das Event erstreckt sich über 3 Tage und 2 Nächte und richtet sich bewusst AUCH an Plebs mit Familie. Dazu planen wir verschiedene Angebote auf dem Hof, wie z.B.

        - Lagerfeuer
        - Grillen
        - Pleb-Tech-Zeug zum angucken und anfassen
        - Musik
        - Open Air Kino (ICH SUCHE DIE FILME AUS ;))
        - Beheizter Pool (Rike hat da was cooles auf yelp gesehen, ich muss das "nur noch" nachbauen. Natürlich beheizt durch echte Satoshi-Mining-Abwärme für extrazarte Haut.)
        - Camping - Ca. 20 Plätze sollten wir hinbekommen. Wenn wir mehr brauchen wirken wir Wunder.

        Darüber hinaus bietet die nähere Umgebung Natur pur für diejenigen, die mal durchatmen wollen. Je nach Resonanz reicht das Spektrum hier von einer Kutschfahrt über die Dörfer über einen Angelausflug bis hin zu einem Nachmittag in der nahegelegenen Westernstadt.

        Da der Platz begrenzt ist, ist auch die Teilnehmerliste begrenzt. Wir kalkulieren momentan mit 100 Tickets, die sich irgendwie von allein über das Wochenende verteilen.

        Also, habt bitte Nachsicht wenn noch nicht alles geklärt ist. Die Infos droppen hier sobald sie vorliegen. Wenn jemand gute Ideen hat oder auch selbst etwas "mitbringen" möchte was zu unserem Setup passt - Immer ran damit.
