extends /template.pug

block vars
  - const title = 'Sommerfest 2023 in der "Zitadelle Uckermark"'
  - const description = 'Freitag 23.6. bis Sonntag 25.6.2023 - Templin/Brandenburg'

block main
  #events.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        ## Datum und Location

        Freitag 23.6. bis Sonntag 25.6.2023 - Templin/Brandenburg

        ## Sommerfest in der "Zitadelle Uckermark"

        Diesen Sommer möchten wir gemeinsam mit euch die “Zitadelle Uckermark” einweihen. Mit Fokus auf Natur, Familie und Bitcoin schaffen wir Platz für 100 Plebs, die sich mit Zelt auf den Weg in den Osten machen wollen.

        ![Bild der Uckermark, Einladung zum Sommerfest](/img/events/sommerfest-uckermark-2023.jpg)

        ## Was ihr erwarten dürft...

        Auf unserem beschaulichen Hof bieten wir euch neben der kompletten Verpflegung - vom Frühstück bis zum Schweinebraten - einen Pool zur Abkühlung, Open-Air-Kino, Lagerfeuer und diverse Pleb-Tech-Spielereien. Den touristischen Höhepunkt bietet ein Bootsausflug über die nahegelegenen Seen am Samstag. Kinder und Partner, die sonst vielleicht nicht ganz so heiß auf Nerd-Treffen sind, laden wir besonders herzlich ein. Für eine angemessene Betreuung der Heranwachsenden ist ebenfalls gesorgt.

        Wem der Hof für das Wochenende dann doch nicht groß genug ist, der findet in der näheren Umgebung sicher das ein oder andere Angebot abseits von Satoshis Pfaden.

        ## Tickets

        Das Ticket für das Wochenende kostet für Erwachsene 80€, Kinder unter 16 Jahren kommen so rein. Damit ist dann alles abgegolten, vom Zeltplatz über die Müllentsorgung und den Pool bis hin zum Schweinebraten und der Schiffsrundfahrt. Zahlbar ausschließlich mit Bitcoin, Lightning oder On-Chain.

        Tickets bekommt ihr bei den Organisatoren, die ihr über Telegramm kontaktieren könnt:

        - [eynhaender](https://t.me/eynhaender)
        - [Morv₿](https://t.me/Morvb)
        - [JustAnotherNod3](https://t.me/JustAnotherNode)
        - [Kay🔆](https://t.me/Kay2point1)

        Aktuelle Informationen zur Veranstaltung findet ihr bei nostr (npub13lk6l8tnxfp76x3qxed2h5qlxc3694eha9glc7v2x8mmxtekdlnqcfmax8) oder Twitter (https://twitter.com/zitadelleum)
        
        Fragen, Anregungen, sonstige Hinweise jederzeit gern an uns. Wir freuen uns auf euch 🤙🏻
        
        ## Update zu Ticketpreis und Zahlungsmodalitäten - 3.2.2021
        
        Moin Plebs,
        
        das Orga-Team hat die Köpfe zusammengesteckt und sich auf die Zahlungsmodalitäten geeinigt. Das war deshalb nicht ganz trivial, da ja ALLE Gäste intern in BTC denominieren, wir den Großteil der Veranstaltung aber in Fiat ankaufen müssen. Mit dem Bullenmarkt im Nacken führt das zu folgenden Problemen:
        
        - Nehmen wir 80€ für das Ticket, werden die meistern versuchen so spät wie möglich zu zahlen.
        - Nehmen wir 379k Sats, könnte die Party u.U. (in der €-Welt) verdammt teuer werden.
        
        Wir haben uns nun im Team dazu entschieden den Preis in Sats festzulegen. Eine Zahlung haben wir bereits erhalten, welche die Messlatte für 80€ genau auf 379k Sats gelegt hat. Das soll nun unser Ticketpreis sein. Unsere in € denominierte Kalkulation bleibt bestehen und wir versuchen so spät wie möglich zu verkaufen. Das führt uns dann zu 3 möglichen Szenarien im Juni:
        
        1. Wir gehen seitwärts und alles bleibt wie es ist.
        2. Numbers go up und nachdem wir alle Verbindlichkeiten beglichen und den Hof gefegt haben, zahlen wir euch die Überschüsse in Sats zurück.
        3. Numbers go down... Das Risiko übernehmen wir.
        
        Die Orga-Plebs werden euch in den nächsten Tagen die invoices zukommen lassen. Wenn jemand onchain bevorzugt - Bescheid sagen.
        
        Wir hoffen, dass ihr unsere Überlegungen nachvollziehen und euch damit anfreunden könnt 🙂
