extends /template.pug

block vars
  - const title = 'Sommerfest 2023 in der "Zitadelle Uckermark"'
  - const description = 'Freitag 23.6. bis Sonntag 25.6.2023 - Templin'

block main
  #events.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        ## Datum und Location
        Freitag 23.6. bis Sonntag 25.6.2023 - Templin/Brandenburg

        ##Sommerfest in der "Zitadelle Uckermark"
        
        Diesen Sommer möchten wir gemeinsam mit euch die “Zitadelle Uckermark” einweihen. Mit Fokus auf Natur, Familie und Bitcoin schaffen wir Platz für 100 Plebs, die sich mit Zelt auf den Weg in den Osten machen wollen.
        
        ## Was ihr erwarten dürft...
        Auf unserem beschaulichen Hof bieten wir euch neben der kompletten Verpflegung - vom Frühstück bis zum Schweinebraten - einen Pool zur Abkühlung, Open-Air-Kino, Lagerfeuer und diverse Pleb-Tech-Spielereien. Den touristischen Höhepunkt bietet ein Bootsausflug über die nahegelegenen Seen am Samstag. Kinder und Partner, die sonst vielleicht nicht ganz so heiß auf Nerd-Treffen sind, laden wir besonders herzlich ein. Für eine angemessene Betreuung der Heranwachsenden ist ebenfalls gesorgt.
        
        Wem der Hof für das Wochenende dann doch nicht groß genug ist, der findet in der näheren Umgebung sicher das ein oder andere Angebot abseits von Satoshis Pfaden.
        
        ## Tickets
        Das Ticket für das Wochenende kostet für Erwachsene 80€, Kinder unter 16 Jahren kommen so rein. Damit ist dann alles abgegolten, vom Zeltplatz über die Müllentsorgung und den Pool bis hin zum Schweinebraten und der Schiffsrundfahrt. Zahlbar ausschließlich mit Bitcoin, Lightning oder On-Chain.
        
        Tickets bekommt ihr bei den Organisatoren, die ihr über Telegramm kontaktieren könnt:

        - [eynhaender](https://t.me/eynhaender)
        - [MorvB](https://t.me/Morvb)
        - [JustAnotherNod3](https://t.me/JustAnotherNode)
        
        Aktuelle Informationen zur Veranstaltung findet ihr hier, auf unserem nostr-Account oder bei Twitter
