extends /template.pug

block main
  - const current = episodes.shift()

  #podcast.wrap
    section
      h1= categoryName
      h2 Aktuelle Episode
      .current
        +episodePlayer(current)

    if episodes.length
      section
        h2 Weitere Episoden
        .episodes
          each e in episodes
            +episodeItem(e)
