extends /template.pug

block vars
  - const current = episodes.shift()
  - const title = categoryName
  - const description = 'Wir bringen dir die Bitcoin-News der Woche, sowie zusätzlich Interviews und die besten Artikel als Lesestunde. Außerdem erfährst du in "Der Weg" wie andere Leute zu Bitcoin gekommen sind.'
  - const cardImage = `/img/cover/${category}.png`

block main
  #podcast.wrap
    section
      h1= categoryName
      h2 Aktuelle Episode
      .current
        +episodePlayer(current)

    if episodes.length
      section
        h2 Weitere Episoden
        .episodes
          each e in episodes
            +episodeItem(e)
