extends /template.pug

block main
  section
    .lead.centered
    :markdown-it(html linkify typographer)
      - [Shoutouts](https://tallyco.in/s/zfxqtu/)
    a.button(href="https://t.me/einundzwanzigpodcast") Komm in die Gruppe!
