extends /template.pug

block vars
  - const title = 'Bitcoin-Meetups'
  - const description = 'Eine Liste von Bitcoin-Meetups und Einundzwanzig-Treffen im D/A/CH/S/LI/LU-Raum.'
  - const cardImage = '/img/card/meetups.png'

block main
  #meetups.wrap
    section
      h1= title
      p= description

      :markdown-it(html linkify typographer)
        Neue Meetups können gerne [per Pull Request](https://github.com/Einundzwanzig-Podcast/einundzwanzig.space/edit/master/content/meetups.json) hinzugefügt werden.
        Hier gibt es ein [Video-Tutorial](https://www.youtube.com/watch?v=BNJc9LExEzU), wie ein neuer Pull Request erstellt werden kann.
        Die Werte für `top/left` geben prozentual die Position des Ortes auf der Karte an.

        Wir können auch die Anzahl der Gruppenmitglieder hier anzeigen lassen.
        Voraussetzung dafür ist, dass die Gruppe öffentlich ist und einen Linknamen hat (a la `t.me/Einundzwanzig_ORT`, kann nur vom Ersteller der Gruppe angepasst werden).
        Tipp: Mit Bots wie [Shieldy](https://t.me/shieldy_bot) kann man die Spammer draußen halten.

        Die Vorlage für das Telegram-Gruppenbild findest du im [Media Kit](/media).

      +map(meetups)
