extends /template.pug

block vars
  - const title = 'Shops'

block main
  #shops.wrap
    section
      h1= title

      ul
        each shop in shops
          li
            a(href=shop.url rel="nofollow noopener" target="_blank")= shop.name
