extends /template.pug

block vars
  - const title = 'Shops'
  - const description = 'Aktuell bietet Einundzwanzig keinen eigenen Shop an, sondern arbeitet mit Partnern aus der Community zusammen.'

block main
  #events.wrap
    section
      h1= title
      p= description

      ul
        each shop in shops
          li
            a(href=shop.url rel="nofollow noopener" target="_blank")= shop.name
