extends /template.pug

block vars
  - const title = 'Spendenregister'
  - const description = 'Diese spendenfinanzierten Projekte, Initiativen und Entwickler halten wir für unterstützenswert.'

block main
  #spenden.wrap
    section
      h1= title
      p= description

      :markdown-it(html linkify typographer)
        Neue Vorschläge können gerne [per Pull Request](https://github.com/Einundzwanzig-Podcast/einundzwanzig.space/edit/master/content/spenden/) hinzugefügt werden.
        Hier gibt es ein [Video-Tutorial](https://www.youtube.com/watch?v=BNJc9LExEzU), wie ein neuer Pull Request erstellt werden kann.

      ul.spenden(data-shuffle)
        each s in shuffle(spenden)
          +spende(s)
