extends /template.pug

block vars
  - const title = 'Spenden'
  - const description = 'Die folgenden Projekte, Initiativen und Entwickler haben wir mit den Shout-Out-Beiträgen der Community bereits unterstützt.'

block main
  #spenden.wrap
    section
      h1= title

      h2 Spendenübersicht
      p= description

      ul.spenden
        each s in spendenuebersicht
          +spende(s)

      h2 Spendenregister
      p Diese spendenfinanzierten Projekte, Initiativen und Entwickler halten wir für unterstützenswert.

      :markdown-it(html linkify typographer)
        Neue Vorschläge können gerne [per Pull Request](https://github.com/Einundzwanzig-Podcast/einundzwanzig.space/edit/master/content/spendenregister/) hinzugefügt werden.
        Hier gibt es ein [Video-Tutorial](https://www.youtube.com/watch?v=BNJc9LExEzU), wie ein neuer Pull Request erstellt werden kann.

      ul.spenden(data-shuffle)
        each s in shuffle(spendenregister)
          +spende(s)
