extends /template.pug

block vars
  - const title = 'Team'
  - const description = 'Einmal die Woche sitzen diese Jungs zusammen und besprechen die aktuellen Geschehnisse in Bitcoin und der Welt.'
  - const core = team.slice(0, 5)
  - const crew = team.slice(5)

block main
  #team.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        Einmal die Woche sitzen die Jungs zusammen und besprechen die aktuellen Geschehnisse in Bitcoin und der Welt.

        [Wir](/team/) bringen dir die [News](/podcast/news/) der Woche, sowie zusätzlich [Interviews](/podcast/interviews/) und
        die besten Artikel als [Lesestunde](/podcast/lesestunde/).
        Außerdem erfährst du in [Der Weg](/podcast/der-weg/) wie andere Leute zu Bitcoin gekommen sind.

      h2 Core
      ul.members(data-shuffle)
        each m in shuffle(core)
          +member(m)
    section
      h2 Crew
      ul.members(data-shuffle)
        each m in shuffle(crew)
          +member(m)
