extends /template.pug

block vars
  - const title = 'Team'
  - const description = 'Einmal die Woche sitzen diese Jungs zusammen und besprechen die aktuellen Geschehnisse in Bitcoin und der Welt.'

block main
  #team.wrap
    section
      h1= title
      h2 Core
      ul.members(data-shuffle)
        each m in shuffle(team)
          +member(m)
    section
      h2 Crew
      ul.members(data-shuffle)
        each m in shuffle(crew)
          +member(m)
