extends /template.pug

block vars
  - const title = 'Telegram-Gruppen'
  - const description = 'Eine Liste von Telegram-Gruppen der Einundzwanzig Community.'

block main
  #telegram.wrap
    section
      h1= title
      p= description

      :markdown-it(html linkify typographer)
        Neue Gruppen können gerne [per Pull Request](https://github.com/Einundzwanzig-Podcast/einundzwanzig.space/edit/master/content/telegram.json) hinzugefügt werden.
        Hier gibt es ein [Video-Tutorial](https://www.youtube.com/watch?v=BNJc9LExEzU), wie ein neuer Pull Request erstellt werden kann.

      ul
        each group in telegram
          li
            a(href=group.url rel="nofollow noopener" target="_blank")= group.name
            if group.members
              = ' '
              small.members= `(${group.members} Mitglieder)`
