extends /template.pug

block vars
  - const title = 'Verein EINUNDZWANZIG'
  - const description = 'EINUNDZWANZIG ist ein in Zug (Schweiz) ansässiger Verein, mit dem Zweck ein optimales Umfeld für die bevorstehende Hyperbitcoinization, in der Schweiz und dem deutschsprachigen Raum zu begünstigen.'

block main
  #verein.wrap
    section
      h1= title
      p= description

      :markdown-it(html linkify typographer)
        ## Gründungsgeschichte

        Gestartet wurde EINUNDZWANZIG im August 2019 als Podcast von [Gigi](/team/gigi) und [Markus](/team/markus).
        [Fab](/team/fab), [Dennis](/team/dennis) und [Daniel](/team/daniel) ergänzten das Team
        und EINUNDZWANZIG entwickelte sich zu einer wichtigen  Anlaufstelle für Bitcoin im deutschsprachigen Raum.
        Es musste eine Gesellschaftsform her, bei der nicht das Kapital, sondern die Gemeinschaft und der Ethos
        von Bitcoin zählt. Wir haben uns daher für einen Verein entschieden — ein wenig mehr zu den Überlegungen
        dahinter findest du in diesem [Vortrag](https://www.youtube.com/watch?v=mmesVymyvdI&t=1026s).

        ## Wichtigste Fakten des Vereins im Überblick

        - Post-Adresse: Verein Einundzwanzig, 6300 Zug, Schweiz
        - Gründungsdatum: 21. April 2021
        - Zweck: Vorbereitung der Gesellschaft auf die Hyperbitcoinization
        - Kontoführung: Bitcoin-only via Multisig und Lightning Node
        - Präsidium: [Gambler](/team/gmblr247) und [Paddepadde](/team/paddepadde)
        - Vorstand: [Chris](/team/chris), [The Ben](/team/holgerhatgarkeinenode), [Gambler](/team/gmblr247) und [Paddepadde](/team/paddepadde)

        ## Statuten

        Hier findest du unsere Vereins-Satzung, die [Statuten](/files/verein/Statuten_v1.3.pdf) (Stand 2024 / v1.3).

        ## Protokolle

        Hier findest du die Protokolle der Vereinssitzungen:

        * [Mitgliederversammlung, 20. Oktober 2024](/files/verein/Protokoll_Mitgliederversammlung_2024.pdf)

        ## Mitgliedschaften

        Wenn Du Mitglied im Verein EINUNDZWANZIG werden möchtest, kommst du hier zur [Anmeldung](https://verein.einundzwanzig.space/).
